body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    min-height: 100vh;
    color: #EEEEEE;
    font-family: 'Nova Square', sans-serif;
}
header, main, footer {
    padding: 10px;
    background-color: #222831;
}
p{
    text-align: justify;
}
/* Header */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: 5px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: #393E46;
    text-decoration: none;
}
a:hover{
    color: #00ADB5;
}
.logo{
    width: 8%;
} 
img{
    max-width: 100%;
}
/* Main */
h1{
    text-align: center;
}
.banner img{
    border-radius: 5px;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}
.item{
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.info-product{
    padding: 15px 30px;
}
.item img{
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.2);
}
.info-product{
    padding: 0px 30px 10px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    color: #393E46;
    font-weight: bold;
}
.price{
    font-size: 18px;
    font-weight: 900;
    font-weight: bold;
}
.info-product button{
    border: none;
    background: none;
    background-color: #393E46;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
.info-product button:hover{
    background-color: #00ADB5;
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    border-radius: 5px;
}
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(/img/pexels-oliver-sjöström-1103829.jpg) no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
	background: url(/img/pexels-oliver-sjöström-1103829.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}
.right{
	padding: 25px 40px;
}
.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: #393E46;
}
.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 170px;
    border-radius: 2px;
    background-color: #00ADB5;
}
.field{
	width: 85%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
textarea{
	min-height: 150px;
}
.btn{
	padding: 0.5rem 1rem;
	background-color: #393E46;
    color: #fff;
	font-size: 1.1rem;
	border: none;
    border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn:hover{
    background-color: #00ADB5;
}
.field:focus{
    border: 2px solid #393E46;
    background-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.check{
    color: #393E46;
    padding-bottom: 20px;
}
/* Footer */
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 5px;
}
.copy p{
    color: #393E46;
    font-weight: bold;
}
